export PATH={{ vault_home }}/bin:${PATH}
export VAULT_HOME={{ vault_home }}
{% if vault_client_env_addr is defined %}
export VAULT_ADDR={{ vault_client_env_addr }}
{% endif %}
{% if vault_client_env_token is defined %}
export VAULT_TOKEN={{ vault_client_env_token }}
{% endif %}
{% if vault_client_env_cacert is defined %}
export VAULT_CACERT={{ vault_client_env_cacert }}
{% endif %}
